<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connection" value="Server=localhost;Port=5432;Database=sice;User ID=postgres;Password=admin;"/>
    <!--<add key="connection" value="Server=localhost;Port=5432;Database=sice;User ID=postgres;Password=admin;"/>-->
    <add key="provider" value="PostgreSQL"/>
    <add key="valor" value="10"/>

    <add key="smtp" value="0"/><!-- 0 = primer servidor, 1= segundo servidor-->
    <add key="sendmail" value="yes"/>

     <!--Primer servidor-->
    <add key="mailfrom" value="csanmartin@gtec.com.ec"/>
    <add key="maildominio" value=""/>
    <add key="mailusuario" value="cristhian_sm@hotmail.com"/>
    <add key="mailpassword" value="GDCX5cBp6JBYD"/>
    <add key="mailrequiereaut" value="1"/>
    <add key="mailserver" value="smtp-pulse.com"/>
    <add key="mailusassl" value="0"/>
    <add key="mailport" value="2525"/>

    <!--Segundo servidor-->
    <add key="mailfrom1" value="info@siac.com.ec"/>
    <add key="maildominio1" value=""/>
    <add key="mailusuario1" value="csanmartin@gtec.com.ec"/>
    <add key="mailpassword1" value=""/>
    <add key="mailrequiereaut1" value="0"/>
    <add key="mailserver1" value="siac.com.ec"/>
    <add key="mailusassl1" value="0"/>
    <add key="mailport1" value="25"/>
    
    
    
    
    
    
    <add key="path" value="C:\inetpub\wwwroot\SICE"/>


    <!-- SqlServer, PostgreSQL, Oracle -->
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MetodosSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49413/ws/Metodos.asmx" binding="basicHttpBinding" bindingConfiguration="MetodosSoap" contract="SICE.MetodosSoap" name="MetodosSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
