<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Packages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="connection" value="Server=216.120.250.222;Port=5432;Database=sice;User ID=postgres;Password=$AdminS2109;"/>-->
    <add key="connection" value="Server=localhost;Port=5432;Database=sice;User ID=postgres;Password=admin;" />
    <add key="provider" value="PostgreSQL" />
    <add key="valor" value="10" />
    <add key="smtp" value="0" />
    <!-- 0 = primer servidor, 1= segundo servidor-->
    <add key="sendmail" value="yes" />
    <!--Primer servidor-->
    <add key="mailfrom" value="csanmartin@gtec.com.ec" />
    <add key="maildominio" value="" />
    <add key="mailusuario" value="cristhian_sm@hotmail.com" />
    <add key="mailpassword" value="GDCX5cBp6JBYD" />
    <add key="mailrequiereaut" value="1" />
    <add key="mailserver" value="smtp-pulse.com" />
    <add key="mailusassl" value="0" />
    <add key="mailport" value="2525" />
    <!--Segundo servidor-->
    <add key="mailfrom1" value="info@siac.com.ec" />
    <add key="maildominio1" value="" />
    <add key="mailusuario1" value="csanmartin@gtec.com.ec" />
    <add key="mailpassword1" value="" />
    <add key="mailrequiereaut1" value="0" />
    <add key="mailserver1" value="siac.com.ec" />
    <add key="mailusassl1" value="0" />
    <add key="mailport1" value="25" />
    <add key="path" value="C:\inetpub\wwwroot\SICE" />
    <!-- SqlServer, PostgreSQL, Oracle -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <globalization culture="es-EC" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="ws">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <applicationSettings>
    <WebUI.Properties.Settings>
      <setting name="WebUI_ec_gob_sri_celcer_RecepcionComprobantesService" serializeAs="String">
        <value>https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantes</value>
      </setting>
      <setting name="WebUI_ec_gob_sri_celcer1_AutorizacionComprobantesService" serializeAs="String">
        <value>https://celcer.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantes</value>
      </setting>
      <setting name="WebUI_SICE_Metodos" serializeAs="String">
        <value>http://216.120.250.104/SICE/ws/Metodos.asmx</value>
      </setting>
      <setting name="WebUI_ec_gob_sri_cel_RecepcionComprobantesService" serializeAs="String">
        <value>https://cel.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantes</value>
      </setting>
      <setting name="WebUI_ec_gob_sri_cel1_AutorizacionComprobantesService" serializeAs="String">
        <value>https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantes</value>
      </setting>
      <setting name="WebUI_ec_gob_sri_celcerOff_RecepcionComprobantesOfflineService" serializeAs="String">
        <value>https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline</value>
      </setting>
      <setting name="WebUI_ec_gob_sri_celOff_RecepcionComprobantesOfflineService" serializeAs="String">
        <value>https://cel.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline</value>
      </setting>
      <setting name="WebUI_ec_gob_sri_cel1Off_AutorizacionComprobantesOfflineService" serializeAs="String">
        <value>https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline</value>
      </setting>
    </WebUI.Properties.Settings>
    <Packages.Properties.Settings>
      <setting name="Packages_AutorizacionComprobantesProduccion_AutorizacionComprobantesOfflineService" serializeAs="String">
        <value>https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline</value>
      </setting>
      <setting name="Packages_AutorizacionComprobantesPruebas_AutorizacionComprobantesOfflineService" serializeAs="String">
        <value>https://celcer.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline</value>
      </setting>
      <setting name="Packages_RecepcionComprobantesProduccion_RecepcionComprobantesOfflineService" serializeAs="String">
        <value>https://cel.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline</value>
      </setting>
      <setting name="Packages_RecepcionComprobantesPruebas_RecepcionComprobantesOfflineService" serializeAs="String">
        <value>https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline</value>
      </setting>
    </Packages.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>