<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- Proveedor de base de datos -->
    <add key="provider" value="PostgreSQL" />
    <!-- Cadena de conexion PostgreSQL -->
    <add key="connection" value="Server=localhost;Port=5432;Database=sice;User Id=postgres;Password=xxxx;" />
    <!-- SMTP externo: yes / no -->
    <add key="externalsmtp" value="yes" />
  </appSettings>
</configuration>
